{
  "enabled": true,
  "local_backup_dir": "",
  "keep_local_days": 7,
  "keep_remote_days": 30,
  "ec2_host": "ec2-xx-xx-xx-xx.compute-1.amazonaws.com",
  "ec2_user": "ubuntu",
  "ssh_key_file": "~/.ssh/elta-ec2.pem",
  "ssh_port": 22,
  "remote_backup_dir": "/opt/elta/workshop_db_backups"
}
