<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="page-wide">
<div class="card-wide form-card">

<h1>Add Customer</h1>

<form method="post" class="stacked-form">

<label>Customer Name</label>
<input name="customer_name" required>

<label>Short Code</label>
<input name="short_code" placeholder="UDL / ABC">

<label>Remarks</label>
<input name="remarks">

<button class="nav-btn nav-primary full-width">
    Save Customer
</button>

</form>

</div>
</div>

</body>
</html>

