<!DOCTYPE html>
<html>
<head>
    <title>Add Item Code</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="page-wide">
<div class="card-wide form-card">

<h1>Add Item Code</h1>

<form method="post" class="stacked-form">

<label>Item Code</label>
<input name="item_code" required>

<label>Description</label>
<input name="description">

<label>Remarks</label>
<input name="remarks">

<button class="nav-btn nav-primary full-width">
    Save Item Code
</button>

</form>

</div>
</div>

</body>
</html>

